#tablegrid{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
    gap: 20px;
    font-size: 1.3em;
}

#coursetable{
    border-collapse: separate;
    border-spacing: 10px;
}

#courseName, #courseCode, #points, #subjectCode, #syllabus{
    cursor: pointer;    
}

#coursetable th ,#coursetable td{
    border-bottom: 1px solid black;
}

#coursetable tr:first-child, #coursetable td:first-child {
    border-right: 1px solid black;
}

#coursetable tr:last-child, #coursetable td:last-child{
    border-left: 1px solid black;
}

#coursetable td{
    padding: 0.5%;
}

#filtertable{
    font-size: 1.3em;
    border: 2px solid black;
    padding: 1%;
    border-radius: 12px;
}

@media (max-width: 800px){
    #tablegrid{
        margin: 0;
        gap: 5px;
    }

    #coursetable td, tr {
    text-align: center;
    white-space: normal;
    word-break: break-word;
    padding: 2px;
    }

    #coursetable{
        table-layout: auto;
        font-size: 0.8em;
    }

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 2%;
}