<div id="tablegrid">
        <input type="text" (input)="searchInput.set($any($event.target).value)" id="filtertable" placeholder="Sök efter kurskod eller kursnamn">
        <mat-form-field>
            <mat-label>Välj ämne</mat-label>
             <mat-select (selectionChange)="selectedSubject.set($event.value)">
                <mat-option value="">Alla</mat-option>
                <mat-option *ngFor="let sub of subjects()" [value]="sub">{{sub}}</mat-option>
            </mat-select>
        </mat-form-field>
        <table id="coursetable">
            <thead>
                <tr>
                    <th (click)="sortList('courseCode')" id="courseCode">Kurskod</th>
                    <th (click)="sortList('courseName')" id="courseName">Kursnamn</th>
                    <th (click)="sortList('points')" id="points">Poäng</th>
                    <th (click)="sortList('subjectCode')" id="subjectCode">Ämne</th>
                    <th (click)="sortList('syllabus')" id="syllabus">Kursplan</th>
                    <th id="addToRam">Lägg till</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of filteredList()">
                <td>{{course.courseCode}}</td>
                <td>{{course.courseName}}</td>
                <td>{{course.points}}</td>
                <td>{{course.subjectCode}}</td>
                <td><a mat-icon-button [href]="course.syllabus" target="_blank" rel="noopener">
                    <mat-icon>open_in_new</mat-icon>
                    </a>
                </td>
                <td><button matButton="tonal" >Lägg till</button></td>
                </tr>
            </tbody>
        </table>
    </div>
